@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lato&family=Open+Sans&family=Tilt+Prism&display=swap');

.logo {
    width: 100px; /* Adjust the width to your desired size */
    height: auto;   
    z-index: 99;
  }